
body {
    min-height: 100vh;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calcContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 2px solid gray;
    box-shadow: 2px 2px 2px 1px gray;
    border-radius: 10px;
    padding: 50px;
}

.row {
    display: flex;
    justify-content: space-between;
    display: flex;
}

.button {
    font-size: 40px;
    min-height: 80px;
    min-width: 80px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px gray;
}

.button, .outputContainer {
    margin: 10px;
}

.outputContainer {
    display: flex;
    border: 2px solid gray;
    box-shadow: 2px 2px 2px 1px gray;
    padding: 5px;
    padding-right: 8px;
    border-radius: 10px;
    flex: 1;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
}

.output {
    display: flex;
    flex-grow: 1;
    font-size: 50px;
    justify-content: end;
}

.inner {
    display: flex;
    flex: 1;
}

.buttonContainer {
    display: flex;
}

.operatorContainer {
    display: flex;
    flex-direction: column;
}

.operators {    
    font-size: 30px;
}

.clearContainer {
    display: flex;
    justify-content: end;
    margin-right: 10px;
}

.clearButton {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px gray;
    border: 2px solid gray;
    background-color: rgb(252, 182, 182);
}
